body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
            [head] 100px
            [title] auto
            [main] auto
            [foot] 100px
}

body > * {
  grid-column: 2 / -2;
}